/* .background{
  min-height: 100vh;
  width: 100vw;
  background-color: black;
} */
.background{
  height: 220vh;
  width: 100vw;
  background-image: url('../public/jokerPc.jpg');
  background-repeat: 1;
  background-size: cover;
  background-position: center;
}
